# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# If the Flash sector size is ommitted, this value is assumed to
# be the same as the Environment size.

# device name	Device offset	Env. size	Flash sector size	Number of sectors
# eMMC
/dev/mmcblk0		0x400000	0x1000
# sd
#/dev/mmcblk1		0x400000	0x1000
